<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  <script>
      function file(key, page) {
          //window.open("/openfile?filename=" + id, "_blank", "top=100,left=100,width=800,height=600,menubar=no,scrollbars=no,toolbar=no,status=no,location=no");
          //window.open("/openfile?filename=" + id+"#page=2", "_blank")
          var win = window.open('/file/' + key + '?#page=' + page, key)
          //win.location.reload(true)
      }
      function directory(sub){
          var link = document.getElementById('id-link');
          if(link.checked === true){
              window.location.href = '/directory/'+sub
          }else{
              var win = window.open('/directory/'+sub, sub)
          }
      }
      function openoutlines(key){
          var link = document.getElementById('id-link');
          if(link.checked === true){
              window.location.href = '/outlines/'+key
          }else{
              var win = window.open('/outlines/'+key, key)
          }
      }
      function openfile(key){
          var link = document.getElementById('id-link');
          if(link.checked === true){
              window.location.href = '/file/'+key
          }else{
              var win = window.open('/file/'+key, key)
          }
      }
  </script>
  </body>
</html>
